<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <meta name="description" content="">
    <meta name="author" content="">
  
    {% load staticfiles %}

    <title>Login</title>
    
    <link href="{% static 'styles/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Application core CSS -->
    <link href="{% static 'styles/css/styles.css' %}" rel="stylesheet">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="container">

      <form action="." method="post" class="form-signin">
        
        <input type="hidden" name="next" value="/" />

        {% csrf_token %}

        <h2 class="form-signin-heading">Login</h2>
        <label for="inputUsername" class="sr-only">User name</label>
        {{form.username}}
        <label for="inputPassword" class="sr-only">Password</label>
        {{form.password}}
        <input class="btn btn-lg btn-primary btn-block" type="Submit" value="Login">
      </form>

    </div> <!-- /container -->

  </body>
</html>