
$background_color: #FFF;

$jumbotron_color: #EEEEEE;
$jumbotronfont_color: #000;

$heart_color: #bc4747;

$navbar-color: #222;
$navbar-border-color: #080808;

$baseheader_color: #000;
$basefont_color: #333;
