
@import '<%= projectTheme %>';

$basefont_family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$basefont_size: 1.2em;

@mixin input-border-radius($left:0, $right:0) {
  border-top {
    left-radius: $left;
    right-radius: $right;
  }
}

body {

  font-family: $basefont_family;
  color: $basefont_color;
  padding {
    top: 40px;
    bottom: 40px;
  }
  background-color: $background_color;

  .navbar {

    li.active {

    }

    &-inverse {
      background-color: $navbar-color;
      border-color: darken($navbar-color, 30%);
    }
  }

  .container {

    &.view-container {

      margin-top: 50px;

      a {
        text-decoration: none;
      }

      .contact-info {

        font-size: 1.2em;
        font-weight: bold;        

      }

      .things-we-love {

        @extend .contact-info;

        a {

          display: block;
          padding: 5px 0 5px 0;
          text-decoration: none;

        }

      }

      .glyphicon.glyphicon-heart {

        color: $heart_color;

      }

      .jumbotron {
        color: $jumbotronfont_color;
        background-color: $jumbotron_color;
        margin-top: 20px;

      }

    }

  }

}

/* Signin page */
/* Styling extracted from http://getbootstrap.com/examples/signin/ */

.form-signin {

  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  input[type="email"] {

    margin-bottom: -1px;
    @include input-border-radius();

  }

  input[type="password"] {

    margin-bottom: 10px;
    @include input-border-radius();

  }

  .form-signin-heading {

    margin-bottom: 10px;

  }

  .checkbox {

    @extends .form-signin-heading;
    font-weight: normal;

  }

  .form-control {

    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;

    &:focus {
      z-index: 2;
    }

  }

}
